.keyboard {
    position: relative;
    height: 160px;
    display: flex;
    justify-content: center;
    user-select: none;
    margin-top: 24px;
    flex-direction: column;
}

.whiteKey {
    width: 5%;
    height: 160px;
    background: white;
    border: 1px solid #ccc;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.whiteKey:hover {
    background-color: pink;
}

.whiteKeyPressed {
    background-color: purple;
}

.blackKey {
    width: 5%;
    height: 100px;
    background: rgb(20, 20, 20);
    border: 1px solid #ccc;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
    left: 2.5%;
    top: 80%;
    z-index: 2;
}

.blackKey:hover {
    background-color: pink;
}

.blackKeyPressed {
    background-color: purple;
}

.invisibleKey {
    visibility: hidden;
}
