:root {
  --color-black-1: #050609;
  --color-purple-1: #29132c;
  --color-mid-pink-1: #9773c4; /* navy blue for borders */
  --color-mid-pink-2: #C41C4C;
  --color-mid-pink-3: #813a67;
  --color-mid-blue-1: #8c50ed;
  --color-bright-pink-1: #F56476;
  --color-dogwood-1: #c2b8c6;
  --color-dogwood-2: #cfccd2;
}