:root {
  --color-black-1: #1a1b26;
  --color-purple-1: #24283b;
  --color-mid-pink-1: #9273cb;
  --color-mid-pink-2: #f7768e;
  --color-mid-pink-3: #32344a;
  --color-mid-blue-1: #7dcfff;
  --color-bright-pink-1: #f7768e;
  --color-dogwood-1: rgb(232, 190, 116);
  --color-dogwood-2: rgb(232, 190, 116);
  --color-pressed: #ff9e64;
}
